body { font-size: 15px; font-family: Georgia; }
.searchInput { padding: 7px; font-size: 50px; border: 1px solid #CCCCCC; font-weight: bold; font-family: "Trebuchet MS"; width: 935px; background-color: #F7F7F7; }
.searchInput2 { padding: 4px; font-size: 25px; border: 1px solid #CCCCCC; width: 800px; background-color: #F7F7F7; }
.searchSubmit { padding: 4px; font-size: 25px; border: 1px solid #CCCCCC; font-weight: bold; font-family: "Trebuchet MS"; width: 200px; background-color: #F7F7F7; }
.number { padding: 5px 0px; color: #777777; font-size: 18px; text-align: center;}
.title { font-size: 25px; }
.download a { font-size: 12px; color: #AAAAAA; font-weight: bold; }
.accuracy { padding: 5px 0px; color: #777777; font-size: 18px; font-style: normal; text-align: center; }
.slot { padding: 10px 0px 10px 0px; }
.odd { background-color: #F7F7F7; }
.nofound { text-align: center; color: #CCCCCC; font-size: 20px; }
